@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&display=swap');

body {
  font-family: 'Syne', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* In your index.css or App.css */

.font-syne {
  font-family: 'Syne', sans-serif;
  /* You can add other font-specific properties here if needed, like font-weight */
  /* font-weight: 700; */
}